

  * {
    padding: 0;
    margin: 0;
    /* font-family: sans-serif; */
}
html {
    /* background-color: #fcde67; */

    background-color: lightyellow;
}
body {
    background-color: lightyellow;
    
}
html,body { height: 100%; margin: 0px; padding: 0px; }

#header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fcde67;
}
#title_wrapper {
    display: block;
    width: 100%;
    border-bottom: 0.1rem solid black;
}

#title {
    font-size: 2rem;
    font-family: sans-serif;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#subtitle {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: lighter;
    width: 18.5rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:4.5rem;
    text-align: center;
}

.title_open {
    transition: all 1s;
    width: 600px;
}
.title_close {
    transition: all 1s;
    
    width: 18rem;
}

section {
    font-family: monospace;
    font-size: 1.5em;
  }

  #main {
    position: relative;
    top: 5rem;
    width: min(100% - 2rem, 80%);
    margin: auto;

    padding-bottom: 5em;
    /*border: 1px solid black;*/
}

.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.colorpicker {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    /* padding: 1em; */
}

.coord {
    grid-area: 1 / 1 / 2 / 2;
    /* padding: 1em; */
    text-align: center;
}

.submit {
    grid-area: 1 / 3 / 2 / 4;
    margin-top: auto;
    /* padding: 1em; */
    text-align: center;
}

.info {
    /* text-align: center; */
    display: none;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#login {
    text-align: center;
}

#remaining {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#history {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
